<div class="d-flex justify-content-center">
    <h4>Bid History</h4>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h5>We</h5>
        </div>
        <div class="col-sm">
            <h5>5</h5>
        </div>
        <div class="col-sm">
            <img class="img-fluid" src="/assets/img/spades.png">
        </div>
        <div class="col-sm">
            <h5>X</h5>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h5>We</h5>
        </div>
        <div class="col-sm">
            <h5>5</h5>
        </div>
        <div class="col-sm">
            <img class="img-fluid" src="/assets/img/spades.png">
        </div>
        <div class="col-sm">
            <h5>X</h5>
        </div>
    </div>
</div>