.v-bar {
    width: .5em;
    background-color: black;
}

.h-bar {
    height: 1em;
    background-color: black;
}

.h-x2 {
    min-height: 160px;
}
.stack-bottom {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.black {
    background-color: black;
}