<div class="row">
    <div class="col-sm">
        <div class="d-flex justify-content-center">We</div>
    </div>
    <div class="v-bar rounded-top"></div>
    <div class="col-sm">
        <div class="d-flex justify-content-center">They</div>
    </div>
</div>
<div class="h-bar rounded"></div>
<div class="row">
    <div class="col-sm">
        <div class="d-flex justify-content-center h-x2">We score above</div>
    </div>
    <div class="v-bar"></div>
    <div class="col-sm">
        <div class="d-flex justify-content-center h-x2">They score above</div>
    </div>
</div>
<div class="h-bar rounded"></div>
<div class="row">
    <div class="col-sm">
        <div class="d-flex justify-content-center h-x2">We score below</div>
    </div>
    <div class="v-bar rounded-bottom"></div>
    <div class="col-sm">
        <div class="d-flex justify-content-center h-x2">They score below</div>
    </div>
</div>